* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* Base font size for responsive scaling */
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 30px;
}

.menu-icon {
    display: none;
    /* Esconde o botão de ícone por padrão */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: #333;
    transition: 0.4s;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    z-index: 2;
    /* Place the menu above other content */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: large;
    display: inline-block;
    /* Display the menu items inline */
}

.container {
    color: black;
    font: bold 16px 'Courier New', Courier, monospace;
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

li {
    display: inline-block;
    margin: 0 10px;
    /* Add some space between menu items */
}

li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

li a:hover {
    color: #3ecece;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image-container {
    position: relative;
}

header img {
    height: 50%;
    width: 100%;
    object-fit: contain;
    background-color: transparent;
}

.site-title {
    color: #00f5f5;
    font-family: 'norican';
    font-size: 105px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

#top:hover {
    background-color: #72d1d1;
}

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #72d1d1;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 999;
    /* Certifique-se de que o footer-bar fique acima do conteúdo */
}

.footer-bar a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footer-bar a:hover {
    text-decoration: underline;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    /* Alinha os itens na horizontal */
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.image-wrapper {
    flex: 1;
}

#foto_perfil {
    max-width: 100%;
    border-radius: 20%;
    height: auto;
    display: block;
}

.text-container {
    flex: 1;
    padding: 20px;
    /* Adicione um preenchimento para tornar a caixa de texto quadrada */
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #3ecece;
}

/* PÁGINA CONTATO */

.content-wrapper {
    display: flex;
    flex-direction: row;
    /* Alinha os itens na horizontal */
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.image-wrapper {
    flex: 1;
}

#foto_perfil {
    max-width: 100%;
    border-radius: 20%;
    height: auto;
    display: block;
}

.text-container {
    flex: 1;
    padding: 20px;
    /* Adicione um preenchimento para tornar a caixa de texto quadrada */
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #3ecece;
}

@media screen and (max-width: 768px) {

    /* Adjust your styles for screens up to 768px wide */
    .menu-container {
        position: static;
        background-color: #00000000;
        /* padding: 10px 0; */

        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    ul {
        display: inline;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 5px 0;
    }

    ul li a {
        display: inline-block;
        padding: 2px 10px;
        color: rgb(0, 0, 0);
    }

    .site-title {
        font-size: 64px;
        top: 48%;
        left: 330px;
    }

    #top {
        margin-bottom: 15px;
    }

    .footer-bar {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {

    .menu-icon {
        display: block;
        /* Mostra o botão de ícone em telas menores */
    }

    ul {
        display: none;
        /* Esconde o menu por padrão em telas menores */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000000;
        padding: 10px 0;
        z-index: 2;
    }

    ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
        height: 100%;
    }

    ul li {
        display: block;
        margin: 5px 0;
    }

    ul li a {
        color: white;
    }

    li {
        left: 900px;
    }

    @media screen and (max-width: 360px) {
        body {
            font-size: 14px;
            padding-bottom: 20px;
        }

        .menu-icon {
            padding: 3px;
            margin: 5px;
        }

        .icon-bar {
            width: 20px;
        }

        .container {
            font-size: 14px;
            max-width: 100%;
            padding: 10px;
        }

        .site-title {
            font-size: 36px;
            top: 30%;
            left: 50%;
            line-height: 50px;
        }

        ul {
            font-size: medium;
        }

        li a {
            font-size: 16px;
            margin-top: 10px;
        }

        .footer-bar {
            font-size: 10px;
            padding: 5px 0;
        }

        .social-icons a {
            font-size: 20px;
        }
    }

}